.a3{
  color:black;
}

.a1 {

  border: 100px;
  border-color: black;
  background-color: rgb(9, 9, 127) ;
  text-align: right;
}
.a2{
  color: white;
}
.g1{
  border-bottom: 5px solid rgb(9, 9, 127);
  img {width: 120px;}
  img { text-align:left;}
  color: rgb(9, 9, 127);
  font-family: sans-serif;
  color: rgb(9, 9, 127);



}
.dropdown-{
  color: rgb(9, 9, 127)
}
.nav-link{
  color: rgb(9, 9, 127);
}
h1{
  text-align: center;
   text-decoration: underline;
   text-decoration-color: #3A9D43;
   margin-bottom: 10px;
}
.t
 {
  background-color: #0075bb ;
   color: white;
   border-bottom : 7px solid #143c89;
   text-align: center;


}
.ta{
  border: 2px black;
}
.btn-outline-secondary{
  color: black;


}
.blue{color: blue}
  .red{
    color:red;
    font-size: large;
    font-weight: 700;
  }
.tg
{
  float: right;
  padding-right: 30px;

}

.lo
{background-image: linear-gradient( to right , rgb(43,166,241),rgb(28,55,139));}
.ce
{
  text-align: center;
  font-size: 25px ;
  color: azure;

}
.ae
{
  font-size: 20px;
  color: white;
  border: 1px solid white;

}
.op{
  text-align: center;
}
.w2{
  background-color: #19026b;

  border: none;
  color: white;
 font-size: 20px;
  border-radius:200px;
  padding: 5px 10px;
}
.c3{
  color: white;

}
.c4{
  text-align: center;
  font-size: 20px;
}
table, th, td ,tr {
  border: 1px solid black;
  width: 6%;
  text-align: center;
}
