<br>
<br>
<br>
<br>
<button routerLink="/test" style="margin-left: 40px;background-color: blueviolet;text-shadow: 30px,rgb(30, 21, 21);">apicomp</button>
<br>
<br>
<button routerLink="/api"style="margin-left: 40px;background-color:yellow;">api</button>
<br>
<br>
<button routerLink="/ppe"style="margin-left: 40px; background-color:blue; ">pipe</button>
<br>
<br>
<button routerLink="/apiget"style="margin-left: 40px; background-color:blue; ">api full</button>

<br><br>
<button routerLink="/apiget" class="btn btn-primary"> api get</button>

