
<div style="background-image: url(https://c4.wallpaperflare.com/wallpaper/405/151/750/light-wall-background-hd-wallpaper-preview.jpg);">
 <div class="container c1 card" style="padding-top: 30px;padding-bottom: 20px;background-color: rgb(198, 152, 240); border-radius: 20px;border-color: black;"><form [formGroup]="f">

  <div class="container">
  <div class="row f "><input  class="mg m" type ="text" formControlName="categoryId" placeholder="categoryId" ></div> <br> <br>
  <div class="row f "><input class="mg m" type ="text" formControlName="category" placeholder="category"></div> <br><br>
  <div class="row f "><input class="mg m" type ="text" formControlName="description"placeholder="description"></div> <br><br>
  <div class="row f "><input class="mg m" type ="text" formControlName="deletedOn" placeholder="deletedOn"></div><br><br>
 <div class="row f "><input class="mg m" type ="text" formControlName="removedRemarks" placeholder="removedRemarks"></div><br>
</div>
</form>

 <br><br>
 <div style="padding-left: 50%;">
  <button class="btn,btn-primary " (click)="submit2()" style="background-color: blue; color: black ;">submit</button></div>
</div>
<br><br></div>
 <button class="btn,btn-primary" routerLink="/test" style="margin-left: 30px;background-color: aqua;" >data</button>


