.ca
{color: black;
background-color: aquamarine;
text-align: right;}
.ce
{color: black;
background-color: rgb(252, 255, 63);
text-align: left;
padding: 1%;}

.me{
  text-align: left;
 border:1px,1px,1px,1px;
 padding: 10px;

}
.mi{
 text-align: right;
 border:1px,1px,1px,1px;
 padding: 10px;



}
