.co{
  background-color:#ccd9ff;
}
.con
{
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  background:linear-gradient( to top,#bcc8d5 0%,#537cf7 100%) ;


}
.mn{

  text-align: center;
  color: black;
  font-size: 30px;
}
.dd
{ background-color: rgb(0, 0, 0);}
