.mn{
  color: rgb(46, 39, 39);
  font-size: 50px;

}
.bd{
  margin: 10px;
  border-color: black;
  padding: 20px,10px,10px,10px;
}
.me
{
  margin:  30px,30px,30px,30px;
  padding: 30px,30px,30px,30px;
}
.bu
{padding:10px
   ;

}
.bo{
  text-align: center;
 margin: 1%;
}
